<!-- Form Column -->
<div
  data-w-id="9fa109aa-712e-b709-7fec-65d08001e45f"
  class="content-center-tablet"
  style="opacity: 0; transform: translate3d(0, 10%, 0) scale3d(1, 1, 1)"
>
  <h2
    class="display-9 mg-top-default"
    style="color: rgb(14, 24, 16); margin-bottom: 20px; font-size: 48px"
  >
    Set New Password
  </h2>

  <!-- Already reset password? -->
  <div class="inner-container _487px _100-tablet" style="margin-bottom: 40px">
    <p class="paragraph-large">
      Have you already reset the password?
      <a href="/login" style="text-decoration: none; color: #d25782">Log In</a>
    </p>
  </div>

  <div
    id="login-form-wrapper"
    class="form-wrapper width-320px w-form mg-top-default"
  >
    <form
      id="auth-form"
      name="new-password-form"
      action="/new-password"
      method="POST"
      aria-label="New Password"
      novalidate
    >
      <!-- CSRF token -->
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

      <!-- Password -->
      <div class="inner-container _487px _100-tablet mg-top-default">
        <div class="password-wrapper">
          <input
            id="password"
            name="password"
            type="password"
            class="input w-input"
            placeholder="Password"
            required
            minlength="8"
          />
          <button
            type="button"
            id="togglePassword"
            aria-label="Show password"
            class="password-toggle"
          >
            <i data-feather="eye-off"></i>
          </button>
        </div>
      </div>

      <div
        class="inner-container _487px _100-tablet"
        style="margin-top: 20px; margin-bottom: 40px"
      >
        <p class="paragraph-small">
          Your password should be 8 or more characters long.
        </p>
      </div>

      <!-- Confirm Password -->
      <div class="inner-container _487px _100-tablet mg-top-default">
        <div class="password-wrapper">
          <input
            id="password"
            name="password"
            type="password"
            class="input w-input"
            placeholder="Confirm Password"
            required
          />
          <button
            type="button"
            id="togglePassword"
            aria-label="Show password"
            class="password-toggle"
          >
            <i data-feather="eye-off"></i>
          </button>
        </div>
      </div>

      <!-- Submit Button -->
      <div class="buttons-row left mg-top-default">
        <button
          type="submit"
          id="primary-button"
          class="primary-button w-button"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
