<!-- view/auth/not-found.ejs -->

<div
  data-w-id="9fa109aa-712e-b709-7fec-65d08001e45f"
  style="
    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    opacity: 1;
    transform-style: preserve-3d;
  "
  class="content-center-tablet"
>
  <div class="_404-number" style="margin-bottom: 16px">404</div>
  <h1 class="display-7 mid">Oops! Page not found.</h1>
  <div class="mg-top-small">
    <div class="inner-container _400px _100-tablet">
      <p class="paragraph-large error-404-text">
        It looks like the page you're searching for has vanished or been
        relocated.
      </p>
    </div>
  </div>
  <div class="mg-top-default">
    <div class="buttons-row left">
      <a
        id="w-node-e9da5fd6-ab44-5b2f-81ad-6e5f36bfab9c-36bfab9c"
        href="#"
        class="primary-button-2 w-inline-block"
        ><div>Go back home</div></a
      >
    </div>
  </div>
</div>
