<!-- Form Column -->
<div
  data-w-id="9fa109aa-712e-b709-7fec-65d08001e45f"
  class="content-center-tablet"
  style="opacity: 0; transform: translate3d(0, 10%, 0) scale3d(1, 1, 1)"
>
  <h2
    class="display-9 mg-top-default"
    style="color: rgb(14, 24, 16); margin-bottom: 32px; font-size: 48px"
  >
    Reset Your Password
  </h2>
  <div id="login-form-wrapper" class="form-wrapper width-320px w-form">
    <form
      id="auth-form"
      name="reset-password-form"
      action="/reset-password"
      method="POST"
      aria-label="Reset Password"
      novalidate
    >
      <!-- CSRF token -->
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

      <!-- Email -->
      <div class="inner-container _487px _100-tablet mg-top-default">
        <input
          id="email"
          name="email"
          type="email"
          class="input w-input"
          placeholder="Email"
          required
        />
      </div>

      <!-- Submit Button -->
      <div class="buttons-row left mg-top-default">
        <button
          type="submit"
          id="primary-button"
          class="primary-button-2 w-button"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
