<!-- views/partials/footer.ejs -->

<footer class="footer-wrapper">
  <div class="w-layout-blockcontainer container-default w-container">
    <div
      data-w-id="35d5e139-74e2-bdb0-ab6f-5464403e54b1"
      class="card footer-card-wrapper"
      style="opacity: 1"
    >
      <div class="inner-container _1312px centerr">
        <div class="footer-center" style="opacity: 1">
          <div class="w-layout-grid grid-3-columns grid-footer">
            <div
              id="w-node-_35d5e139-74e2-bdb0-ab6f-5464403e54b5-57241a43"
              data-w-id="35d5e139-74e2-bdb0-ab6f-5464403e54b5"
              class="flex-vertical align-start space-between"
              style="
                transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
                opacity: 1;
              "
            >
              <div>
                <a href="/" class="logo-link w-inline-block">
                  <img
                    src="assets/images/freakum-logo-white.png"
                    alt="Freakum - Where Pleasure Begins"
                  />
                </a>
                <div class="mg-top-small">
                  <div class="text-neutral-300">
                    <p class="paragraph-large">
                      Designed for desire. Freakum brings you bold, beautiful
                      essentials that turn up the heat and keep things silky.
                    </p>
                  </div>
                  <div class="mg-top-default">
                    <div class="social-links-container">
                      <a
                        href="https://facebook.com/"
                        target="_blank"
                        class="social-media-icon-wrapper-dark social-icon-white w-inline-block"
                        ><div class="icon-font-social-media"></div></a
                      ><a
                        href="https://twitter.com/"
                        target="_blank"
                        class="social-media-icon-wrapper-dark social-icon-white w-inline-block"
                        ><div class="icon-font-social-media v2"><br /></div></a
                      ><a
                        href="https://www.instagram.com/"
                        target="_blank"
                        class="social-media-icon-wrapper-dark social-icon-white w-inline-block"
                        ><div class="icon-font-social-media"></div></a
                      ><a
                        href="https://www.linkedin.com/"
                        target="_blank"
                        class="social-media-icon-wrapper-dark social-icon-white w-inline-block"
                        ><div class="icon-font-social-media"></div></a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="mg-top-large">
                <div class="text-neutral-300">
                  <p class="paragraph-large">
                    Copyright © Freakum | Designed for Pleasure
                  </p>
                </div>
              </div>
            </div>
            <div
              id="w-node-_35d5e139-74e2-bdb0-ab6f-5464403e54d5-57241a43"
              data-w-id="35d5e139-74e2-bdb0-ab6f-5464403e54d5"
              class="menu-wrapper"
              style="
                transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
                opacity: 1;
              "
            >
              <div>
                <div class="footer-page-title">Explore</div>
                <div class="nav-content">
                  <ul role="list" class="nav-menu-list-wrapper">
                    <li class="nav-menu-list-item">
                      <a href="/" class="nav-link white">All Products</a>
                    </li>
                    <li class="nav-menu-list-item">
                      <a href="/home-pages/home-v1" class="nav-link white"
                        >Vibrators</a
                      >
                    </li>
                    <li class="nav-menu-list-item">
                      <a href="/home-pages/home-v2" class="nav-link white"
                        >Dildos</a
                      >
                    </li>
                    <li class="nav-menu-list-item">
                      <a href="/home-pages/home-v3" class="nav-link white"
                        >Lubricants</a
                      >
                    </li>
                  </ul>
                  <ul role="list" class="nav-menu-list-wrapper">
                    <li class="nav-menu-list-item">
                      <a
                        href="/post/transform-your-office-with-these-low-maintenance-office-plants"
                        class="nav-link white"
                        >Blog</a
                      >
                    </li>
                    <li class="nav-menu-list-item">
                      <a href="/company-pages/about" class="nav-link white"
                        >Couples' Toys</a
                      >
                    </li>
                    <li class="nav-menu-list-item">
                      <a href="/blog-pages/blog-v1" class="nav-link white"
                        >Gift Cards</a
                      >
                    </li>
                    <li class="nav-menu-list-item last">
                      <a href="/blog-pages/blog-v3" class="nav-link white"
                        >Coming Soon</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div
              id="w-node-_35d5e139-74e2-bdb0-ab6f-5464403e5517-57241a43"
              data-w-id="35d5e139-74e2-bdb0-ab6f-5464403e5517"
              class="menu-wrapper"
              style="
                transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
                opacity: 1;
              "
            >
              <div>
                <div class="footer-page-title">Help & Info</div>
                <div>
                  <ul role="list" class="nav-menu-list-wrapper">
                    <li class="nav-menu-list-item">
                      <a
                        href="/template-pages/start-here"
                        class="nav-link white"
                        >Track Order</a
                      >
                    </li>
                    <li class="nav-menu-list-item">
                      <a href="/404" class="nav-link white">Support</a>
                    </li>
                    <li class="nav-menu-list-item">
                      <a href="/401" class="nav-link white">FAQs</a>
                    </li>
                    <li class="nav-menu-list-item">
                      <a href="/template-pages/licenses" class="nav-link white"
                        >Terms & Conditions</a
                      >
                    </li>
                    <li class="nav-menu-list-item">
                      <a href="/template-pages/changelog" class="nav-link white"
                        >Privacy Policy</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-bottom" style="opacity: 1">
          <div class="w-layout-grid grid-2-columns footer-bottom---form">
            <div
              id="w-node-_35d5e139-74e2-bdb0-ab6f-5464403e5531-57241a43"
              class="inner-container _536px"
            >
              <h3 class="display-8 text-light">
                Subscribe to get 5% OFF on your first toy!
              </h3>
            </div>
            <div class="width-100 mg-bottom-0 w-form">
              <form
                id="wf-form-Footer-V1-Form"
                name="wf-form-Footer-V1-Form"
                data-name="Footer V1 Form"
                method="get"
                data-wf-page-id="66ba7df56163a72359b4697d"
                data-wf-element-id="35d5e139-74e2-bdb0-ab6f-5464403e5536"
                aria-label="Footer V1 Form"
              >
                <div class="input-wrapper">
                  <input
                    class="input large w-input"
                    maxlength="256"
                    name="Email-Footer"
                    data-name="Email Footer"
                    placeholder="Enter your email"
                    type="email"
                    id="Email-Footer"
                    required=""
                  /><input
                    type="submit"
                    data-wait="Please wait..."
                    class="primary-button inside-input white-mobile w-button"
                    value="Subscribe"
                  />
                </div>
              </form>
              <div
                class="success-message-wrapp w-form-done"
                tabindex="-1"
                role="region"
                aria-label="Footer V1 Form success"
              >
                <div class="card inside-input">
                  <div class="icon-font-rounded input-icon"></div>
                  <div class="text-titles">
                    <div class="display-1 mid">
                      Thanks for joining our newsletter.<br />
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="error-message-wrapper w-form-fail"
                tabindex="-1"
                role="region"
                aria-label="Footer V1 Form failure"
              >
                <div>Oops! Something went wrong</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
