<!-- view/partials/shop-navbar.ejs -->

<div
  data-w-id="c5a10a2d-1ce6-df65-3882-e8a1991bf291"
  data-animation="default"
  data-collapse="medium"
  data-duration="400"
  data-easing="ease"
  data-easing2="ease"
  role="banner"
  class="header-wrapper w-nav"
>
  <div class="container-default w-container">
    <div class="header-container-wrapper" data-w-id="c5a10a2d-1ce6-df65-3882-e8a1991bf293">
      <!-- Logo -->
      <div class="logo-wrapper">
        <a href="/home" class="logo-link w-inline-block">
          <img src="/assets/images/freakum-logo.png" alt="Logo" />
        </a>
      </div>

      <!-- Main Nav -->
      <div class="nav-menu-middle">
        <nav role="navigation" class="nav-menu-wrapper w-nav-menu">
          <ul role="list" class="list-nav-menu">
            <!-- Primary Links -->
            <li class="link-nav-item">
              <a href="/home-pages/home-v1" class="header-nav-link w-nav-link">Home</a>
            </li>
            <li class="link-nav-item">
              <a href="/company-pages/about" class="header-nav-link w-nav-link">Pleasures</a>
            </li>
            <li class="link-nav-item">
              <a href="/company-pages/contact" class="header-nav-link w-nav-link">Deals</a>
            </li>
            <li class="link-nav-item">
              <a href="/blog-pages/blog-v1" class="header-nav-link w-nav-link">About</a>
            </li>
            <li class="link-nav-item show-on-mobile">
              <a
                id="w-node-e9da5fd6-ab44-5b2f-81ad-6e5f36bfab9c-36bfab9c"
                href="/shop-pages/all-products-v1"
                class="primary-button w-inline-block"
              >
                <div>Shop now</div>
              </a>
            </li>
            <li></li>
          </ul>
        </nav>
      </div>

      <!-- Right Side -->
      <div class="nav-menu-right-side">
        <%- include("../partials/cart") %>
        <div class="buttons-row nav-menu-hidden-on-mobile">
          <a
            id="w-node-e9da5fd6-ab44-5b2f-81ad-6e5f36bfab9c-36bfab9c"
            href="/special-offers"
            class="primary-button-2 w-inline-block-2"
          >
            <div>Special Offers!</div>
          </a>
        </div>

        <!-- Account Dropdown -->
        <%- include("../partials/account-dropdown") %>

        <!-- Hamburger -->
        <div class="hamburger-menu w-nav-button">
          <div class="hamburger-menu-flex">
            <div class="hamburger-menu-line top"></div>
            <div class="hamburger-menu-line middle"></div>
            <div class="hamburger-menu-line bottom"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
