<nav role="navigation" class="nav-menu-wrapper w-nav-menu">
  <ul role="list" class="list-nav-menu">
    <!-- Primary Links -->
    <li class="link-nav-item">
      <a href="/home-pages/home-v1" class="header-nav-link w-nav-link">Home</a>
    </li>
    <li class="link-nav-item">
      <a href="/company-pages/about" class="header-nav-link w-nav-link"
        >Fresh Pleasures</a
      >
    </li>
    <li class="link-nav-item">
      <a href="/company-pages/contact" class="header-nav-link w-nav-link"
        >Hot Deals</a
      >
    </li>
    <li class="link-nav-item">
      <a href="/blog-pages/blog-v1" class="header-nav-link w-nav-link"
        >Diaries</a
      >
    </li>

    <li class="link-nav-item show-on-mobile">
      <a
        id="w-node-e9da5fd6-ab44-5b2f-81ad-6e5f36bfab9c-36bfab9c"
        href="/shop-pages/all-products-v1"
        class="primary-button w-inline-block"
        ><div>Shop now</div></a
      >
    </li>
  </ul>
</nav>
