<!-- view/shop/index.ejs -->

<section class="section hero pd-hero-top-64px---bottom-140px">
  <div class="w-layout-blockcontainer container-default w-container">
    <div
      data-w-id="77a2db5d-bc8e-f031-821c-c9eed0450746"
      style="opacity: 0"
      class="title-left---content-right"
    >
      <div class="inner-container _470px">
        <h1 class="display-10">All products</h1>
        <div class="mg-top-small">
          <p class="paragraph-large">
            Lorem ipsum dolor sit amet consectetur mi ut tortor bibendum auctor
            sit tortor scelerisque nulla sed.
          </p>
        </div>
      </div>
      <div class="flex-horizontal search---category-wrapper">
        <div class="form-wrapper _286px">
          <form action="/search" class="mg-bottom-0 w-form">
            <label for="search-2" class="hidden">Search</label>
            <div class="input-wrapper">
              <input
                class="input w-input"
                maxlength="256"
                name="query"
                placeholder="Search for plants..."
                type="search"
                id="search"
                required=""
              /><input
                type="submit"
                class="primary-button-icon inside-input w-button"
                value=""
              />
            </div>
          </form>
        </div>
        <div
          data-hover="true"
          data-delay="0"
          data-w-id="77a2db5d-bc8e-f031-821c-c9eed0450752"
          class="input-dropdown w-dropdown"
        >
          <div class="input-dropdown-toggle w-dropdown-toggle">
            <div>Category</div>
            <div
              style="
                -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);
                -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
                  rotateY(0) rotateZ(0deg) skew(0, 0);
                -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
                  rotateY(0) rotateZ(0deg) skew(0, 0);
                transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
                  rotateY(0) rotateZ(0deg) skew(0, 0);
              "
              class="icon-font-rounded dropdown-arrow"
            >
              
            </div>
          </div>
          <nav
            style="
              display: none;
              opacity: 0;
              -webkit-transform: translate3d(0, -10px, 0) scale3d(1, 1, 1)
                rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
              -moz-transform: translate3d(0, -10px, 0) scale3d(1, 1, 1)
                rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
              -ms-transform: translate3d(0, -10px, 0) scale3d(1, 1, 1)
                rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
              transform: translate3d(0, -10px, 0) scale3d(1, 1, 1) rotateX(0)
                rotateY(0) rotateZ(0) skew(0, 0);
            "
            class="input-dropdown-list w-dropdown-list"
          >
            <div class="input-dropdown-card w-dyn-list">
              <div role="list" class="grid-1-column gap-row-small w-dyn-items">
                <div
                  id="w-node-_77a2db5d-bc8e-f031-821c-c9eed045075b-59b4697d"
                  role="listitem"
                  class="w-dyn-item"
                >
                  <a href="/category/bamboo" class="link w-inline-block"
                    ><div>Bamboo</div></a
                  >
                </div>
                <div
                  id="w-node-_77a2db5d-bc8e-f031-821c-c9eed045075b-59b4697d"
                  role="listitem"
                  class="w-dyn-item"
                >
                  <a href="/category/orchid" class="link w-inline-block"
                    ><div>Orchid</div></a
                  >
                </div>
                <div
                  id="w-node-_77a2db5d-bc8e-f031-821c-c9eed045075b-59b4697d"
                  role="listitem"
                  class="w-dyn-item"
                >
                  <a href="/category/herb" class="link w-inline-block"
                    ><div>Herb</div></a
                  >
                </div>
                <div
                  id="w-node-_77a2db5d-bc8e-f031-821c-c9eed045075b-59b4697d"
                  role="listitem"
                  class="w-dyn-item"
                >
                  <a href="/category/shrub" class="link w-inline-block"
                    ><div>Shrub</div></a
                  >
                </div>
                <div
                  id="w-node-_77a2db5d-bc8e-f031-821c-c9eed045075b-59b4697d"
                  role="listitem"
                  class="w-dyn-item"
                >
                  <a href="/category/cacti" class="link w-inline-block"
                    ><div>Cacti</div></a
                  >
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <div class="mg-top-medium">
      <div class="w-dyn-list">
        <div
          role="list"
          class="grid-3-columns _2-col-tablet gap-row-32px w-dyn-items"
        >
          <div role="listitem" class="w-dyn-item">
            <a
              data-w-id="77a2db5d-bc8e-f031-821c-c9eed0450765"
              style="
                -webkit-transform: translate3d(0, 10%, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 10%, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 10%, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0)
                  rotateY(0) rotateZ(0) skew(0, 0);
                opacity: 0;
              "
              href="/product/boxwood"
              class="text-decoration-none w-inline-block"
              ><div class="ecommerce-card-wrapper">
                <div class="image-wrapper border-radius-16px">
                  <img
                    alt="Boxwood"
                    data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                    src="https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66bb96aa46d63bd2ba2f4761_boxwood-main-image-store-x-webflow-template.jpg"
                    class="card-image fit-cover"
                  />
                </div>
                <div class="mg-top-default">
                  <div
                    class="flex-horizontal space-between gap-16px---flex-wrap"
                  >
                    <div>
                      <h2 class="card-title display-5">Boxwood</h2>
                      <div class="text-neutral-600">
                        <div class="display-3 mid">Herb</div>
                      </div>
                    </div>
                    <div class="badge tertiary mid"><div>$7.00</div></div>
                  </div>
                </div>
              </div></a
            >
          </div>
          <div role="listitem" class="w-dyn-item">
            <a
              data-w-id="77a2db5d-bc8e-f031-821c-c9eed0450765"
              style="
                -webkit-transform: translate3d(0, 10%, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 10%, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 10%, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0)
                  rotateY(0) rotateZ(0) skew(0, 0);
                opacity: 0;
              "
              href="/product/bird-of-paraise"
              class="text-decoration-none w-inline-block"
              ><div class="ecommerce-card-wrapper">
                <div class="image-wrapper border-radius-16px">
                  <img
                    alt="Bird of Paraise"
                    data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                    src="https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7efb778d4efeee44c4db8_bird-of-paraise-main-image-store-x-webflow-template.jpg"
                    sizes="(max-width: 767px) 100vw, (max-width: 991px) 50vw, 33vw"
                    srcset="
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7efb778d4efeee44c4db8_bird-of-paraise-main-image-store-x-webflow-template-p-500.jpg   500w,
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7efb778d4efeee44c4db8_bird-of-paraise-main-image-store-x-webflow-template-p-800.jpg   800w,
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7efb778d4efeee44c4db8_bird-of-paraise-main-image-store-x-webflow-template-p-1080.jpg 1080w,
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7efb778d4efeee44c4db8_bird-of-paraise-main-image-store-x-webflow-template-p-1600.jpg 1600w,
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7efb778d4efeee44c4db8_bird-of-paraise-main-image-store-x-webflow-template.jpg        2576w
                    "
                    class="card-image fit-cover"
                  />
                </div>
                <div class="mg-top-default">
                  <div
                    class="flex-horizontal space-between gap-16px---flex-wrap"
                  >
                    <div>
                      <h2 class="card-title display-5">Bird of Paraise</h2>
                      <div class="text-neutral-600">
                        <div class="display-3 mid">Shrub</div>
                      </div>
                    </div>
                    <div class="badge tertiary mid">
                      <div>$12.00</div>
                    </div>
                  </div>
                </div>
              </div></a
            >
          </div>
          <div role="listitem" class="w-dyn-item">
            <a
              data-w-id="77a2db5d-bc8e-f031-821c-c9eed0450765"
              style="
                -webkit-transform: translate3d(0, 10%, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 10%, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 10%, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0)
                  rotateY(0) rotateZ(0) skew(0, 0);
                opacity: 0;
              "
              href="/product/snake-plant"
              class="text-decoration-none w-inline-block"
              ><div class="ecommerce-card-wrapper">
                <div class="image-wrapper border-radius-16px">
                  <img
                    alt="Snake plant"
                    data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                    src="https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7ef69222a71f67f400e29_snake-plant-main-image-store-x-webflow-template.jpg"
                    sizes="(max-width: 767px) 100vw, (max-width: 991px) 50vw, 33vw"
                    srcset="
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7ef69222a71f67f400e29_snake-plant-main-image-store-x-webflow-template-p-500.jpg   500w,
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7ef69222a71f67f400e29_snake-plant-main-image-store-x-webflow-template-p-800.jpg   800w,
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7ef69222a71f67f400e29_snake-plant-main-image-store-x-webflow-template-p-1080.jpg 1080w,
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7ef69222a71f67f400e29_snake-plant-main-image-store-x-webflow-template-p-1600.jpg 1600w,
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7ef69222a71f67f400e29_snake-plant-main-image-store-x-webflow-template.jpg        2576w
                    "
                    class="card-image fit-cover"
                  />
                </div>
                <div class="mg-top-default">
                  <div
                    class="flex-horizontal space-between gap-16px---flex-wrap"
                  >
                    <div>
                      <h2 class="card-title display-5">Snake plant</h2>
                      <div class="text-neutral-600">
                        <div class="display-3 mid">Cacti</div>
                      </div>
                    </div>
                    <div class="badge tertiary mid">
                      <div>$10.00</div>
                    </div>
                  </div>
                </div>
              </div></a
            >
          </div>
          <div role="listitem" class="w-dyn-item">
            <a
              data-w-id="77a2db5d-bc8e-f031-821c-c9eed0450765"
              style="
                -webkit-transform: translate3d(0, 10%, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 10%, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 10%, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0)
                  rotateY(0) rotateZ(0) skew(0, 0);
                opacity: 0;
              "
              href="/product/dumb-cane"
              class="text-decoration-none w-inline-block"
              ><div class="ecommerce-card-wrapper">
                <div class="image-wrapper border-radius-16px">
                  <img
                    alt="Dumb Cane"
                    data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                    src="https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7ef2f25b54e09fd0841e6_dumb-cane-main-image-store-x-webflow-template.jpg"
                    sizes="(max-width: 767px) 100vw, (max-width: 991px) 50vw, 33vw"
                    srcset="
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7ef2f25b54e09fd0841e6_dumb-cane-main-image-store-x-webflow-template-p-500.jpg   500w,
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7ef2f25b54e09fd0841e6_dumb-cane-main-image-store-x-webflow-template-p-800.jpg   800w,
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7ef2f25b54e09fd0841e6_dumb-cane-main-image-store-x-webflow-template-p-1080.jpg 1080w,
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7ef2f25b54e09fd0841e6_dumb-cane-main-image-store-x-webflow-template-p-1600.jpg 1600w,
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7ef2f25b54e09fd0841e6_dumb-cane-main-image-store-x-webflow-template.jpg        2576w
                    "
                    class="card-image fit-cover"
                  />
                </div>
                <div class="mg-top-default">
                  <div
                    class="flex-horizontal space-between gap-16px---flex-wrap"
                  >
                    <div>
                      <h2 class="card-title display-5">Dumb Cane</h2>
                      <div class="text-neutral-600">
                        <div class="display-3 mid">Bamboo</div>
                      </div>
                    </div>
                    <div class="badge tertiary mid"><div>$7.00</div></div>
                  </div>
                </div>
              </div></a
            >
          </div>
          <div role="listitem" class="w-dyn-item">
            <a
              data-w-id="77a2db5d-bc8e-f031-821c-c9eed0450765"
              style="
                -webkit-transform: translate3d(0, 10%, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 10%, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 10%, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0)
                  rotateY(0) rotateZ(0) skew(0, 0);
                opacity: 0;
              "
              href="/product/hibiscus-orange"
              class="text-decoration-none w-inline-block"
              ><div class="ecommerce-card-wrapper">
                <div class="image-wrapper border-radius-16px">
                  <img
                    alt="Hibiscus Orange"
                    data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                    src="https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7eedb7f895bd803f2ee21_hibiscus-orange-main-image-store-x-webflow-template.jpg"
                    sizes="(max-width: 767px) 100vw, (max-width: 991px) 50vw, 33vw"
                    srcset="
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7eedb7f895bd803f2ee21_hibiscus-orange-main-image-store-x-webflow-template-p-500.jpg   500w,
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7eedb7f895bd803f2ee21_hibiscus-orange-main-image-store-x-webflow-template-p-800.jpg   800w,
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7eedb7f895bd803f2ee21_hibiscus-orange-main-image-store-x-webflow-template-p-1080.jpg 1080w,
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7eedb7f895bd803f2ee21_hibiscus-orange-main-image-store-x-webflow-template-p-1600.jpg 1600w,
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7eedb7f895bd803f2ee21_hibiscus-orange-main-image-store-x-webflow-template.jpg        2576w
                    "
                    class="card-image fit-cover"
                  />
                </div>
                <div class="mg-top-default">
                  <div
                    class="flex-horizontal space-between gap-16px---flex-wrap"
                  >
                    <div>
                      <h2 class="card-title display-5">Hibiscus Orange</h2>
                      <div class="text-neutral-600">
                        <div class="display-3 mid">Orchid</div>
                      </div>
                    </div>
                    <div class="badge tertiary mid"><div>$8.00</div></div>
                  </div>
                </div>
              </div></a
            >
          </div>
          <div role="listitem" class="w-dyn-item">
            <a
              data-w-id="77a2db5d-bc8e-f031-821c-c9eed0450765"
              style="
                -webkit-transform: translate3d(0, 10%, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 10%, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 10%, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0)
                  rotateY(0) rotateZ(0) skew(0, 0);
                opacity: 0;
              "
              href="/product/weeping-fig"
              class="text-decoration-none w-inline-block"
              ><div class="ecommerce-card-wrapper">
                <div class="image-wrapper border-radius-16px">
                  <img
                    alt="Weeping Fig"
                    data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                    src="https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7eeb0601e33d1c3fb0f27_weeping-fig-main-image-store-x-webflow-template.jpg"
                    sizes="(max-width: 767px) 100vw, (max-width: 991px) 50vw, 33vw"
                    srcset="
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7eeb0601e33d1c3fb0f27_weeping-fig-main-image-store-x-webflow-template-p-500.jpg   500w,
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7eeb0601e33d1c3fb0f27_weeping-fig-main-image-store-x-webflow-template-p-800.jpg   800w,
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7eeb0601e33d1c3fb0f27_weeping-fig-main-image-store-x-webflow-template-p-1080.jpg 1080w,
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7eeb0601e33d1c3fb0f27_weeping-fig-main-image-store-x-webflow-template-p-1600.jpg 1600w,
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7eeb0601e33d1c3fb0f27_weeping-fig-main-image-store-x-webflow-template.jpg        2576w
                    "
                    class="card-image fit-cover"
                  />
                </div>
                <div class="mg-top-default">
                  <div
                    class="flex-horizontal space-between gap-16px---flex-wrap"
                  >
                    <div>
                      <h2 class="card-title display-5">Weeping Fig</h2>
                      <div class="text-neutral-600">
                        <div class="display-3 mid">Shrub</div>
                      </div>
                    </div>
                    <div class="badge tertiary mid">
                      <div>$15.00</div>
                    </div>
                  </div>
                </div>
              </div></a
            >
          </div>
          <div role="listitem" class="w-dyn-item">
            <a
              data-w-id="77a2db5d-bc8e-f031-821c-c9eed0450765"
              style="
                -webkit-transform: translate3d(0, 10%, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 10%, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 10%, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0)
                  rotateY(0) rotateZ(0) skew(0, 0);
                opacity: 0;
              "
              href="/product/gardenia"
              class="text-decoration-none w-inline-block"
              ><div class="ecommerce-card-wrapper">
                <div class="image-wrapper border-radius-16px">
                  <img
                    alt="Gardenia"
                    data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                    src="https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7ed3ccca4eae7b75857a9_gardenia-main-image-store-x-webflow-template.jpg"
                    sizes="(max-width: 767px) 100vw, (max-width: 991px) 50vw, 33vw"
                    srcset="
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7ed3ccca4eae7b75857a9_gardenia-main-image-store-x-webflow-template-p-500.jpg   500w,
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7ed3ccca4eae7b75857a9_gardenia-main-image-store-x-webflow-template-p-800.jpg   800w,
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7ed3ccca4eae7b75857a9_gardenia-main-image-store-x-webflow-template-p-1080.jpg 1080w,
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7ed3ccca4eae7b75857a9_gardenia-main-image-store-x-webflow-template-p-1600.jpg 1600w,
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7ed3ccca4eae7b75857a9_gardenia-main-image-store-x-webflow-template.jpg        2576w
                    "
                    class="card-image fit-cover"
                  />
                </div>
                <div class="mg-top-default">
                  <div
                    class="flex-horizontal space-between gap-16px---flex-wrap"
                  >
                    <div>
                      <h2 class="card-title display-5">Gardenia</h2>
                      <div class="text-neutral-600">
                        <div class="display-3 mid">Orchid</div>
                      </div>
                    </div>
                    <div class="badge tertiary mid"><div>$7.00</div></div>
                  </div>
                </div>
              </div></a
            >
          </div>
          <div role="listitem" class="w-dyn-item">
            <a
              data-w-id="77a2db5d-bc8e-f031-821c-c9eed0450765"
              style="
                -webkit-transform: translate3d(0, 10%, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 10%, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 10%, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0)
                  rotateY(0) rotateZ(0) skew(0, 0);
                opacity: 0;
              "
              href="/product/succulent"
              class="text-decoration-none w-inline-block"
              ><div class="ecommerce-card-wrapper">
                <div class="image-wrapper border-radius-16px">
                  <img
                    alt="Succulent"
                    data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                    src="https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7ed0bb636202e9ed35815_scculent-main-image-store-x-webflow-template.jpg"
                    sizes="(max-width: 767px) 100vw, (max-width: 991px) 50vw, 33vw"
                    srcset="
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7ed0bb636202e9ed35815_scculent-main-image-store-x-webflow-template-p-500.jpg   500w,
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7ed0bb636202e9ed35815_scculent-main-image-store-x-webflow-template-p-800.jpg   800w,
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7ed0bb636202e9ed35815_scculent-main-image-store-x-webflow-template-p-1080.jpg 1080w,
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7ed0bb636202e9ed35815_scculent-main-image-store-x-webflow-template-p-1600.jpg 1600w,
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7ed0bb636202e9ed35815_scculent-main-image-store-x-webflow-template.jpg        2576w
                    "
                    class="card-image fit-cover"
                  />
                </div>
                <div class="mg-top-default">
                  <div
                    class="flex-horizontal space-between gap-16px---flex-wrap"
                  >
                    <div>
                      <h2 class="card-title display-5">Succulent</h2>
                      <div class="text-neutral-600">
                        <div class="display-3 mid">Herb</div>
                      </div>
                    </div>
                    <div class="badge tertiary mid"><div>$5.00</div></div>
                  </div>
                </div>
              </div></a
            >
          </div>
          <div role="listitem" class="w-dyn-item">
            <a
              data-w-id="77a2db5d-bc8e-f031-821c-c9eed0450765"
              style="
                -webkit-transform: translate3d(0, 10%, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 10%, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 10%, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0)
                  rotateY(0) rotateZ(0) skew(0, 0);
                opacity: 0;
              "
              href="/product/cactus-plant"
              class="text-decoration-none w-inline-block"
              ><div class="ecommerce-card-wrapper">
                <div class="image-wrapper border-radius-16px">
                  <img
                    alt="Cactus Plant"
                    data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                    src="https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7ecd24e8dd6d83068559c_cactus-plant-main-image-store-x-webflow-template.jpg"
                    sizes="(max-width: 767px) 100vw, (max-width: 991px) 50vw, 33vw"
                    srcset="
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7ecd24e8dd6d83068559c_cactus-plant-main-image-store-x-webflow-template-p-500.jpg   500w,
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7ecd24e8dd6d83068559c_cactus-plant-main-image-store-x-webflow-template-p-800.jpg   800w,
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7ecd24e8dd6d83068559c_cactus-plant-main-image-store-x-webflow-template-p-1080.jpg 1080w,
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7ecd24e8dd6d83068559c_cactus-plant-main-image-store-x-webflow-template-p-1600.jpg 1600w,
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7ecd24e8dd6d83068559c_cactus-plant-main-image-store-x-webflow-template.jpg        2576w
                    "
                    class="card-image fit-cover"
                  />
                </div>
                <div class="mg-top-default">
                  <div
                    class="flex-horizontal space-between gap-16px---flex-wrap"
                  >
                    <div>
                      <h2 class="card-title display-5">Cactus Plant</h2>
                      <div class="text-neutral-600">
                        <div class="display-3 mid">Cacti</div>
                      </div>
                    </div>
                    <div class="badge tertiary mid"><div>$9.00</div></div>
                  </div>
                </div>
              </div></a
            >
          </div>
          <div role="listitem" class="w-dyn-item">
            <a
              data-w-id="77a2db5d-bc8e-f031-821c-c9eed0450765"
              style="
                -webkit-transform: translate3d(0, 10%, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 10%, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 10%, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0)
                  rotateY(0) rotateZ(0) skew(0, 0);
                opacity: 0;
              "
              href="/product/peppermint"
              class="text-decoration-none w-inline-block"
              ><div class="ecommerce-card-wrapper">
                <div class="image-wrapper border-radius-16px">
                  <img
                    alt="Peppermint"
                    data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                    src="https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7eca2583e0cc4fbe77a6a_pepper-mint-main-image-store-x-webflow-template.jpg"
                    sizes="(max-width: 767px) 100vw, (max-width: 991px) 50vw, 33vw"
                    srcset="
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7eca2583e0cc4fbe77a6a_pepper-mint-main-image-store-x-webflow-template-p-500.jpg   500w,
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7eca2583e0cc4fbe77a6a_pepper-mint-main-image-store-x-webflow-template-p-800.jpg   800w,
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7eca2583e0cc4fbe77a6a_pepper-mint-main-image-store-x-webflow-template-p-1080.jpg 1080w,
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7eca2583e0cc4fbe77a6a_pepper-mint-main-image-store-x-webflow-template-p-1600.jpg 1600w,
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7eca2583e0cc4fbe77a6a_pepper-mint-main-image-store-x-webflow-template.jpg        2576w
                    "
                    class="card-image fit-cover"
                  />
                </div>
                <div class="mg-top-default">
                  <div
                    class="flex-horizontal space-between gap-16px---flex-wrap"
                  >
                    <div>
                      <h2 class="card-title display-5">Peppermint</h2>
                      <div class="text-neutral-600">
                        <div class="display-3 mid">Shrub</div>
                      </div>
                    </div>
                    <div class="badge tertiary mid">
                      <div>$15.00</div>
                    </div>
                  </div>
                </div>
              </div></a
            >
          </div>
          <div role="listitem" class="w-dyn-item">
            <a
              data-w-id="77a2db5d-bc8e-f031-821c-c9eed0450765"
              style="
                -webkit-transform: translate3d(0, 10%, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 10%, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 10%, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0)
                  rotateY(0) rotateZ(0) skew(0, 0);
                opacity: 0;
              "
              href="/product/portulacaria"
              class="text-decoration-none w-inline-block"
              ><div class="ecommerce-card-wrapper">
                <div class="image-wrapper border-radius-16px">
                  <img
                    alt="Portulacaria"
                    data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                    src="https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7ec3515b61aa33e2b67a8_portulacaria-main-image-store-x-webflow-template.jpg"
                    sizes="(max-width: 767px) 100vw, (max-width: 991px) 50vw, 33vw"
                    srcset="
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7ec3515b61aa33e2b67a8_portulacaria-main-image-store-x-webflow-template-p-500.jpg   500w,
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7ec3515b61aa33e2b67a8_portulacaria-main-image-store-x-webflow-template-p-800.jpg   800w,
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7ec3515b61aa33e2b67a8_portulacaria-main-image-store-x-webflow-template-p-1080.jpg 1080w,
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7ec3515b61aa33e2b67a8_portulacaria-main-image-store-x-webflow-template-p-1600.jpg 1600w,
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7ec3515b61aa33e2b67a8_portulacaria-main-image-store-x-webflow-template.jpg        2576w
                    "
                    class="card-image fit-cover"
                  />
                </div>
                <div class="mg-top-default">
                  <div
                    class="flex-horizontal space-between gap-16px---flex-wrap"
                  >
                    <div>
                      <h2 class="card-title display-5">Portulacaria</h2>
                      <div class="text-neutral-600">
                        <div class="display-3 mid">Shrub</div>
                      </div>
                    </div>
                    <div class="badge tertiary mid">
                      <div>$12.00</div>
                    </div>
                  </div>
                </div>
              </div></a
            >
          </div>
          <div role="listitem" class="w-dyn-item">
            <a
              data-w-id="77a2db5d-bc8e-f031-821c-c9eed0450765"
              style="
                -webkit-transform: translate3d(0, 10%, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 10%, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 10%, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0)
                  rotateY(0) rotateZ(0) skew(0, 0);
                opacity: 0;
              "
              href="/product/balloon-cactus"
              class="text-decoration-none w-inline-block"
              ><div class="ecommerce-card-wrapper">
                <div class="image-wrapper border-radius-16px">
                  <img
                    alt="Balloon Cactus"
                    data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                    src="https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7ec11603f5bb60e73d9f0_balloon-cactus-main-image-store-x-webflow-template.jpg"
                    sizes="(max-width: 767px) 100vw, (max-width: 991px) 50vw, 33vw"
                    srcset="
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7ec11603f5bb60e73d9f0_balloon-cactus-main-image-store-x-webflow-template-p-500.jpg   500w,
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7ec11603f5bb60e73d9f0_balloon-cactus-main-image-store-x-webflow-template-p-800.jpg   800w,
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7ec11603f5bb60e73d9f0_balloon-cactus-main-image-store-x-webflow-template-p-1080.jpg 1080w,
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7ec11603f5bb60e73d9f0_balloon-cactus-main-image-store-x-webflow-template-p-1600.jpg 1600w,
                      https://cdn.prod.website-files.com/66b93fd9c65755b8a91df14d/66c7ec11603f5bb60e73d9f0_balloon-cactus-main-image-store-x-webflow-template.jpg        2576w
                    "
                    class="card-image fit-cover"
                  />
                </div>
                <div class="mg-top-default">
                  <div
                    class="flex-horizontal space-between gap-16px---flex-wrap"
                  >
                    <div>
                      <h2 class="card-title display-5">Balloon Cactus</h2>
                      <div class="text-neutral-600">
                        <div class="display-3 mid">Cacti</div>
                      </div>
                    </div>
                    <div class="badge tertiary mid">
                      <div>$10.00</div>
                    </div>
                  </div>
                </div>
              </div></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
