<!-- views/admin/partials/breadcrumbs.ejs -->

<ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0">
  <% breadcrumbs.forEach(function(crumb, index) { %>
  <li
    class="breadcrumb-item <%= index === breadcrumbs.length - 1 ? 'text-muted' : '' %>"
  >
    <% if (crumb.url) { %>
    <a href="<%= crumb.url %>" class="text-muted text-hover-primary">
      <%= crumb.name %>
    </a>
    <% } else { %> <%= crumb.name %> <% } %>
  </li>

  <% if (index !== breadcrumbs.length - 1) { %>
  <li class="breadcrumb-item">
    <span class="bullet bg-gray-500 w-5px h-2px"></span>
  </li>
  <% } %> <% }) %>
</ul>
